<nav class="navbar">
  <div class="logo">
    <a routerLink="/home">
      <img
        src="private/logo.png"
        alt="First Logo"
        onError="this.onerror=null;this.src='logo.png';"
      />
    </a>
  </div>
  <ul>
    <li><a routerLink="/about">About Us</a></li>
    <li><a routerLink="/services">Services</a></li>
    <li><a routerLink="/projects">Projects</a></li>
    <li><a routerLink="/credentials">credentials</a></li>
    <li><a routerLink="/organisation">Organisation</a></li>
    <li><a routerLink="/contact">Contact Us</a></li>
  </ul>
</nav>
