/* Navbar styling */
.navbar {
 /* Keep the navbar over the background */
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  background: white(
    0,
    0,
    0,
    0.6
  ); /* Slightly darker overlay for better contrast */
  color: white;
  z-index: 1000;
  backdrop-filter: blur(
    10px
  ); /* Apply blur effect to background for better readability */
}

/* Logo Section */
.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar .logo img {
  height: 50px;
  margin-right: 10px;
}

.navbar .logo span {
  font-size: 15px;
  left: 0em;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
}


/* Navigation Menu */
.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px; /* Increase gap for better spacing */
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline;
}

.navbar ul li a {
  text-decoration: none;
  color: rgb(33, 5, 59);
  font-size: 18px;
  font-weight: 500;
  transition: all 0.3s ease;
  border-radius: 5px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.273em;
  letter-spacing: 0;
  font-size: 12px;
  letter-spacing: 0.18em;
  text-transform: uppercase;
}

/* Hover Effect */
.navbar ul li a:hover {
  background: rgba(255, 255, 255, 0.2); /* Subtle highlight */
  color: #ffb703; /* Golden color on hover for visual interest */
}

