/* Navbar styling */
.navbar {
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background: rgba(255, 255, 255, 0.6);
  color: white;
  z-index: 1000;
  backdrop-filter: blur(10px);
  position: relative;
}

/* Logo Section */
.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar .logo img {
  height: 50px;
  margin-right: 10px;
  margin-left: 10px;
}

/* Navigation Menu */
.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline;
}

.navbar ul li a {
  text-decoration: none;
  color: rgb(33, 5, 59);
  font-weight: 500;
  transition: all 0.3s ease;
  border-radius: 5px;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  letter-spacing: 0.18em;
  text-transform: uppercase;
}

/* Hover Effect */
.navbar ul li a:hover {
  color: #ffb703;
}

/* Hamburger Menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger {
  width: 35px;
  height: 4px;
  background-color: rgb(33, 5, 59);
  margin: 5px 0;
}

/* Responsive Styles */
@media (max-width: 992px) {
  .navbar ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    padding: 20px 0;
  }

  .navbar ul.active {
    display: flex;
  }

  .navbar ul li {
    text-align: center;
    margin: 10px 0;
  }

  .menu-toggle {
    display: flex;
  }
}

