:root {
  --primary-color: rgba(123, 79, 79, 0.9568627451);
  --text-color: black;
  --bg-light: #f9f9f9;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  text-align: center;
}

.btn-primary {
  background-color: var(--primary-color);
  color: white;

  &:hover {
    opacity: 0.9;
    color: white;
  }
}

.btn-secondary {
  background-color: transparent;
  color: var(--primary-color);
  border-color: var(--primary-color);

  &:hover {
    background-color: var(--primary-color);
    color: white;
  }
}
