@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body.noscroll {
  position: fixed;
  overflow: hidden;
}

body {
  font-family: "Lato", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

/* Responsive typography */
@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
}

/* Responsive typography */
@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
}
