<div class="organization-container">
  <h1 class="section-title">Meet Our CEO</h1>

  <div class="ceo-section">
    <div class="ceo-image">
      <img
        src="private/ceo.jpg"
        alt="CEO Image"
        onError="this.onerror=null;this.src='ceo.jpg';"
      />
    </div>

    <div class="ceo-description">
      <h2>{{ contactInfo?.["CEO_NAME"] || "Not Available" }}</h2>
      <p>
        Our CEO has led the organization through its dynamic growth across
        various industries. Under his leadership, we have successfully pioneered
        initiatives in solar panel installations, large infrastructure projects,
        and the provision of skilled manpower services. His commitment to
        sustainable solutions has played a crucial role in the widespread
        adoption of solar energy, revolutionizing how industries and households
        utilize clean, renewable energy.
      </p>
      <p>
        With a background in construction and engineering, Mr. Prakash's
        extensive experience in large infrastructure projects has been pivotal
        in the development of state-of-the-art facilities, roads, and bridges
        that contribute to the modernization of cities. His leadership extends
        to managing our skilled workforce, ensuring top-notch manpower is
        available for various projects across sectors, including construction,
        electrical work, and mechanical services.
      </p>
      <p>
        Passionate about innovation and driven by a deep understanding of the
        industry's needs, Mr. Prakash continues to steer the company towards
        excellence, delivering sustainable solutions that empower communities
        and businesses alike.
      </p>
    </div>
  </div>
</div>
